<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SpotiList - {{title}}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/default.css') }}"
    />
  </head>

  <body>
    <a href="/download" target="blank"><img src="{{ url_for('static', filename='assets/download-circle-svgrepo-com.svg') }}"/> </a>
    {% for key in playlists.keys() %}
      <p>{{key}} - {{playlists[key]['name']}}, total: {{playlists[key]['total']}}</p>
    {% endfor %}
  </body>
</html>